.text-block-4 {
  display: block;
  margin-bottom: 2rem;
  font-family: "Work Sans", sans-serif;
  color: #213f7d;
  font-size: 24px;
  font-weight: 500;

  &.dif {
    margin-bottom: 0rem;
  }
}

a {
  text-decoration: none;
  color: #545f7d;
}

.summary-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.summary-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1.3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 23%;
  -ms-flex: 0 23%;
  flex: 0 23%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(33, 63, 125, 0.06);
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 3px 0 20px 5px rgba(0, 0, 0, 0.04);
}

.summary-img {
  margin-bottom: 1rem;
}

.summary-title {
  margin-bottom: 1rem;
  font-family: "Work Sans", sans-serif;
  color: #545f7d;
  font-weight: 500;
}

.summary-value {
  font-family: "Work Sans", sans-serif;
  color: #213f7d;
  font-size: 24px;
  font-weight: 600;
}

.app-card {
  padding: 1.4rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(33, 63, 125, 0.06);
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.04);
  color: #545f7d;

  &.filter {
    top: 8%;
    left: 1%;
    position: absolute;
    z-index: 500;
    display: block;
    width: 25%;
    padding: 0.9rem;
    font-weight: 500;
  }

  &.more {
    top: 90%;
    right: -5%;
    position: absolute;
    z-index: 500;
    width: 25%;
    padding-top: 0rem;
  }

  &.mobile-table {
    display: none;
  }

  &.details {
    margin-bottom: 2rem;
    padding-bottom: 0rem;
  }
}

.table-header-d {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-block-5 {
  font-size: 12px;
  font-weight: 600;
  display: inline;
  margin-right: 10px;
}

.status-chip {
  display: inline-block;
  padding: 5px 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 40px;
  background-color: rgba(84, 95, 125, 0.06);

  &.pending {
    background-color: rgba(233, 178, 0, 0.1);
    color: #e9b200;
  }

  &.danger {
    background-color: rgba(228, 3, 59, 0.1);
    color: #e4033b;
  }

  &.active {
    background-color: rgba(57, 205, 98, 0.1);
    color: #39cd62;
  }
}

.div-block-9 {
  width: 270px;
  padding: 1.4rem;
}

.filter-label {
  font-weight: 500;
}

.form-col {
  margin-bottom: 1rem;
}

.filter-input {
  height: 40px;
  border-radius: 8px;
  background-color: #fff;

  &.slect {
    color: #545f7d;
  }
}

.filter-slect {
  height: 40px;
  background-color: #fff;
}

.div-block-10 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-3 {
  position: absolute;
  left: auto;
  top: 21%;
  right: 9%;
  bottom: auto;
}

.action-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.4rem;
}

.filter-btn {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #545f7d;
  border-radius: 8px;
  color: #545f7d;
  font-weight: 600;
  text-decoration: none;

  &.filter {
    margin-left: 1rem;
    border-style: none;
    background-color: #39cdcc;
    color: #fff;
  }

  &.red {
    margin-left: 1rem;
    padding: 7px 13px;
    border-color: #e4033b;
    color: #e4033b;

    &.blue {
      border-color: #39cdcc;
      color: #39cdcc;
    }
  }
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  cursor: pointer;
}

.image-4 {
  margin-right: 1rem;
}

.image-5 {
  cursor: pointer;
}

.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-6 {
  color: #545f7d;
}

.p-use {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: rgba(33, 63, 125, 0.18);
  font-family: "Work Sans", sans-serif;
  color: #213f7d;
  font-weight: 600;

  &.arrow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    padding: 6px 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 500;
}

.pag-num {
  margin-right: 1rem;

  &.active-num {
    font-weight: 700;
  }
}

@media screen and (max-width: 991px) {
  .app-card {
    display: block;
    &.more {
      top: 90%;
      left: 10%;
      // right: -5%;
      position: absolute;
      z-index: 500;
      width: max-content;
      padding-top: 0rem;
    }
    &.mobile-table {
      display: block;
      margin-bottom: 2rem;
    }

    &.details {
      display: block;
    }
  }
}

@media screen and (max-width: 767px) {
  .summary-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .summary-col {
    margin-bottom: 2rem;
  }
}
