.w-input,
.w-select {
  
  display: block;
  width: 100%;

  padding: 8px 12px;

 
  line-height: 1.428571429;
  color: #333333;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.font-check {
  font-family: 'Work Sans', sans-serif;
}